<style>
  html, body { height: 100%; width: 100%; }
</style>
<script type='text/javascript'>
  $(function() {
    if(window.location.hash.substring(1) == "ipad")
      Dashing.widget_base_dimensions = [270, 250]
    else
      Dashing.widget_base_dimensions = [340, 310]

    $(document).keypress(function(e){
      if(e.keyCode == 102)
        document.documentElement.webkitRequestFullScreen();
    });
  });
</script>

<% content_for(:title) { "Mission of Mercy | Systems Administration" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-total" data-view="Number" data-title="Patients Registered" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-total" data-view="Number" data-title="Patients Checked Out" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="procedures" data-view="Number" data-title="Procedures Performed" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patients-in-clinic" data-view="Number" data-title="Patients in clinic"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-per-hour" data-view="Meter" data-title="Registrations per hour" data-min="0" data-max="175"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="support-requests" data-view="Support" data-title="Support Requests"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-per-hour" data-view="Meter" data-title="Check-outs per hour" data-min="0" data-max="150"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="treatment-areas" data-view="BarGraph" data-title="Treatment Area Assignments"></div>
    </li>
  </ul>
</div>
