<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
  Batman.Filters.shortenedNumber = function(num){
    return Batman.Filters.prettyNumber(num.toFixed(0));
  }
});
</script>

<% content_for(:title) { "Mission of Mercy | General Clinic Stats" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="support-requests" data-view="SupportImage" data-image="/logo.png" class="logo"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-today" data-view="Number" data-title="Patients Registered" data-moreinfo="For today only"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-total" data-view="Number" data-title="Patients Registered" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-per-hour" data-view="Meter" data-title="Registrations per hour" data-min="0" data-max="175"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="top-procedures" data-view="List" data-title="Top 10 Procedures" data-moreinfo="For today only"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="patients-in-clinic" data-view="Number" data-title="Patients in Clinic"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-total" data-view="Number" data-title="Patients Checked Out" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-per-hour" data-view="Meter" data-title="Check-outs per hour" data-min="0" data-max="150"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="procedures" data-view="Number" data-title="Procedures Performed" data-moreinfo="For today only"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="total-donated" data-view="Number" data-title="Donated Dental Care" data-prefix="$" style="background-color: #83C83A;"></div>
    </li>

  </ul>
</div>
