<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 400]
  Dashing.numColumns = 4
});
</script>

<% content_for(:title) { "Mission of Mercy | Jumbotron" } %>

<div class="gridster" style="margin-top: 50px;">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="support-requests" data-view="SupportImage" data-image="/logo.png" class="logo"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="registrations-total" data-view="Number" data-title="Patients Registered" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-total" data-view="Number" data-title="Patients Checked Out" data-moreinfo="During the entire clinic"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="registrations-per-hour" data-view="Meter" data-title="Registrations per hour" data-min="0" data-max="175"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="check-outs-per-hour" data-view="Meter" data-title="Check-outs per hour" data-min="0" data-max="150"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="total-donated" data-view="Number" data-title="Dontated Dental Care" data-prefix="$" style="background-color: #83C83A;"></div>
    </li>
  </ul>
</div>
