// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #BCCF99;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-support styles
// ----------------------------------------------------------------------------
.widget-support {

  background-color: $background-color;

  &.active {
    background-color: #A53D39;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  ul {
    margin: 0 15px;
    text-align: left;
    color: rgba(0,0,0,0.75);
    list-style: none;
  }

  li {
    margin-bottom: 5px;
    font-size: 1.5em;
    text-align: center;
  }

  .label {
    color: rgba(255, 255, 255, 0.9);
  }

  #support-alert {
    display: none;
  }
}
